sudo: false
language: python
python:
- '3.3'
- '3.4'
- '3.5'
- '3.6'
install: make travis-install
script: make travis-script
after_success: codeclimate-test-reporter
deploy:
- provider: pypi
  server: https://testpypi.python.org/pypi
  user: Andrew.Hawker
  password:
    secure: FPuakAcW9rxQZf4MSfscgbDfzf4FuwtlTw4rLN1lbOTSDa2/QTA9LeuFxv/SFXAttH1Jzyh9a1qCnRibq60ndzrEvKX7DODTjs4mJ3NaIhJDLTXC8wckPMsjwgO+Pwfsh7smjuHzAEoP6I2HNFO9Xu0lZhhdL08nmdG6Al8Id1sv4SiFcE72usYtVIvmD+MxpwyyCclJK75kH2v7HiLGRm8paZeo7ARw+xhHpAw6UE4PUjNBl274vLaYwGQhurwTM7TANye/EQpV/l6R7ke8O6wMlUykBhL7Z1aiyOMO7dVlQo5NozBM848Y6cF+Bn6KKBw/H1CA1XU8H0SySTtPpJsu2SCX1lNLt0aXkvQYcGWbBz6R7pcDhpulHxDWjwWz3R96/iPBRkwyJrwNph+TP6E2md/climFsXbf85yTSOZKALORRIATTfR9l0+6yizxixG19Mc96CPRQNe+9P1NeGaX0eJmgLwOQ//eOE8iTLiPG4AXvkF4FqgFtO0KvHmVLa053fOzsEUdyUPpnZByDW7WO5Fj0zzx4PzH8SO6c9fMyNOB7RpKzU17sdawcOkFDXVT6GFkKJesu8bf6I2v/TJuCKOtcVUPeJpww+X/PRjRiXwxnUhGkbj7sPW3lfblwGbCNG+m7RYkueFBJiumrsYqXMAyON+GA+v6EUIMvTs=
  distributions: sdist bdist_wheel
  skip_cleanup: true
  on:
    branch: master
    tags: false
    condition: $TRAVIS_PYTHON_VERSION = "3.4"
- provider: pypi
  server: https://pypi.python.org/pypi
  user: Andrew.Hawker
  password:
    secure: eVd8Zb1S48TAnIbPktCc7SGKQlugRLUv2+77CywblVC1lSZi6IrJiNbsg9E8cMInoOA2GeqlJ/ywrrqP0LVIm1Uqht3YzDyUMFioUIsHnX86M7Lhpb7Yf4++Iig4aEPmrzXe8B7/4Lq9958pjneQl4snUo+ji1ma81p7py6unIPbEZkoVvo4Hb9x5wKUIOL7O6UZsMplBo5/csQfI0IjoCRox9Rfbylda2xFWHj8GJLn5jAEP/nv17pmIwGU75u5FeWdjLKL4YQmIKIuLGRSO9Jwvrm1US8IRBL/xK2+MsGtdKNmEHtx0kehLr2t8yC0KsSw07m3Tl9id0TP+Q7b5+FIg3FnVhu2+eXBg1+2rI7eOLBEMyiwd49dTeSLAFXnHBLTywIEcRfapETjrAldxJZ20Zh6Lp2/qY0H9kYoeM8MswwhqqQA1tqlbkwnPsiEI5iT3ABToHTKX6H7xbZ48vkgTFVlELjfRL56r7lidkiogVm6yf19vsRTcKlG9wPt2Y51VHtH2CRy96N9MoPQtZmLkmqiM1wd1/wXjrOtDNSGb8F4n+ip+/mIJetcxvpHagXu/jkkfdQvJ5eWoNTt54Gviox9En5l+uQ6lWfgNgdBCRwmtQftrFBNcAcfizVXFXYFVvESGCUVDfkD/N14MkqJC1N7QsAPs9AeDS7cmfc=
  distributions: sdist bdist_wheel
  skip_cleanup: true
  on:
    branch: master
    tags: true
    condition: $TRAVIS_PYTHON_VERSION = "3.4"
notifications:
  slack:
    secure: g+wpHKA51mTz4M77p5YJ8pRzyTGjjxT7tSsXRy5CGawXJUWGqdRDM6+Z5UxcnPNK/TNTZpi4iSyVqRinzJ8zu+phLgw9Rn1+n+eq2AULifBda+MYqV7tyBsWZZjTJBBQ2jjzNA2upygNDIy9naRIO+RgNxv18csI4UZz+1QE9Sv6e3IaaEGuIHkQT4tHGThBfRuN97ggW5mrpUY6gNI8vN5YOCDsIH0jBbc4cr1mAIyakaHWlCUj58PCLdluFjKiWeYhHXJixS7xK+8c8iVO+qHgNa0hHtjtYV2YmkLEBgdJE7swtPaCKIcGJogAOdJD+mwtffyIqp9UhNpRAYAwot3jakW7d7LFBn42f1gQe5mp+Ki2yWQ+nbzsEx4Tb19hRWm9y6yuu/BGXCpOYqSgoErtYWvVDYKBZpmR8Vqcy3s1bWAu5TMHIyQoDiX81RaDwX3Lu4JoF2tr66J4qz1UJE8X5g/Q0JrctxWAXG/10AsxMM947yPgc0eq68gfVOgt5spdr7m7yq/hM6R40ncB+EQnNYg6lJsHcwINj+T5WBNzFSaYj1O62zzNPKPD5pOfJnAQsiS+ZzxrlacAIzG6yRU+QoBDW8FyOOypA6cPIxqJR1poTt1t6ET+18FRmD7kDnBZcU9DAx+JJ1DDz8sCb5njMAA3Cihg10JqqmvFXyk=
